---
import { Image } from 'astro:assets';
import selfie from '../../assets/selfie.jpg';
---

<section id='about'>
  <a href='#about' class='section-title'>About</a>
  <div class='info'>
    <div class='person'>
      <Image src={selfie} alt='Selfie of Julian Krzysiak.' />
      <div>
        <h2>Julian Krzysiak</h2>
        <h3>Full-Stack Web Developer</h3>
      </div>
    </div>
    <div class='words'>
      <p>
        I am a self-taught web developer who likes to hike, bike, dance, read, and learn about
        everything (currently in my geology phase).
      </p>
      <p>
        I completed a BS in Psychobiology, became an EMT, and passed the MCAT with flying colors.
      </p>
      <p>I was going to become a doctor, but then I didn't.</p>
      <p>
        In college I made some amateur websites for my dance club and decided that route could be
        interesting.
      </p>
      <p>
        And now I work everyday on learning as much as I can about the fascinating and complex world
        of web development.
      </p>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem 0 2rem;
    gap: 2rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .person {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-width: 28rem;

    & img {
      border-radius: 100%;
      border-width: 2px;
      border-color: var(--color-slate-900);
    }

    & div {
      text-align: center;
    }
  }

  h2 {
    font-size: var(--text-2xl);
    font-weight: 500;
    color: var(--color-primary);
  }

  h3 {
    font-size: var(--text-xl);
  }

  .words {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.5rem;
  }

  @media (min-width: 1024px) {
    a {
      font-size: var(--text-5xl);
    }

    .info {
      flex-direction: row;
      gap: 5rem;
    }

    h2 {
      font-size: var(--text-3xl);
    }

    h3 {
      font-size: var(--text-xl);
    }

    .words {
      font-size: var(--text-lg);
    }
  }
</style>
