---
import { Image } from 'astro:assets';
import selfie from '../../assets/selfie.jpg';
---

<section id='about'>
  <h2 class='section-title'>
    <a href='#about'>About</a>
  </h2>
  <div class='info'>
    <figure class='person'>
      <Image src={selfie} alt='Selfie of Julian Krzysiak.' />
      <figcaption>
        <span class='caption'>Julian Krzysiak</span>
        <span class='sub-caption'>Full-Stack Web Developer</span>
      </figcaption>
    </figure>
    <div class='words'>
      <p>
        I am a self-taught web developer who likes to hike, dance, and learn everything about
        nature.
      </p>
      <p>I completed a BS in PsychoBiology, became an EMT, and did pretty well on the MCAT.</p>
      <p>I was going to become a doctor, but then I didn't.</p>
      <p>
        In college I made some amateur websites for my dance club which sparked my interest again.
      </p>
      <p>
        And now I work everyday on learning as much as I can about web development by reading,
        making stuff, messing up, and making more stuff.
      </p>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  figure {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-width: 28rem;

    img {
      border-radius: 100%;
      border-width: 2px;
      border-color: var(--color-slate-900);
    }
  }

  figcaption {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .caption {
    font-size: var(--text-2xl);
    font-weight: 500;
    color: var(--color-primary);
  }

  .sub-caption {
    font-size: var(--text-xl);
  }

  .words {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: var(--text-lg);
    line-height: 1.5rem;
  }

  @media (min-width: 1024px) {
    a {
      font-size: var(--text-5xl);
    }

    .info {
      flex-direction: row;
      gap: 5rem;
    }

    .caption {
      font-size: var(--text-3xl);
    }

    .sub-caption {
      font-size: var(--text-xl);
    }

    .words {
      font-size: var(--text-lg);
    }
  }
</style>
