---
import Card from '@/components/Card.astro';
const { url, title, description } = Astro.props;
---

<Card title={title} url={url}>
  <p>{description}</p>
</Card>

<style>
  p {
    font-weight: 300;
  }
</style>
