---
import Post from '@/features/blog/components/Post/index.astro';
import ContentLayout from '@/layouts/ContentLayout.astro';
import { getCollection } from 'astro:content';

const title = 'Blog';
const reviews = await getCollection('reviews');

const latestReviews = reviews
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 5);
---

<ContentLayout title={title}>
  <section>
    <h2>Latest</h2>
    <ol>
      {
        latestReviews.map((post) => {
          return <Post url={`/blog/${post.slug}`} data={post.data} />;
        })
      }
    </ol>
  </section>
</ContentLayout>

<style>
  
</style>
