---
import ContentLayout from '@/layouts/ContentLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { entry: post },
  }));
}

const dateOptions = {
  month: 'long',
  day: 'numeric',
  year: 'numeric',
};
const { entry } = Astro.props;
const { Content } = await entry.render();
const { title, author, date, tags, description } = Astro.props.entry.data;
---

<ContentLayout title={title} description={description}>
  <div slot='info'>
    <h2>Author: {author}</h2>
    <time datetime={date.toISOString()}
      >Published: {
        new Intl.DateTimeFormat('en-US', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        }).format(date)
      }</time
    >
    {tags && <p>Tags: {tags.join(', ')}</p>}
  </div>
  <Content />
</ContentLayout>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: var(--text-lg);
  }
</style>
