---
import Card from '@/components/Card.astro';
const { title, author, url } = Astro.props.data;
---

<Card title={title} url={url}>
  <p>
    {author}
  </p>
</Card>

<style>
  p {
    font-weight: 300;
  }
</style>
