<section id='about'>
  <h2
    class='w-fit rounded-br-lg border-b-4 border-r-4 border-slate-800 p-4 text-3xl text-violet-800'
  >
    About Me
  </h2>
  <p class='whitespace-pre-line'>
    Hi, I like making websites for fun in my free time.
  </p>
</section>
