<section id='about'>
  <p class='whitespace-pre-line'>
    Howdy, the name's Julian. I'm a full-stack web developer who's passionate
    about creating websites and trying to make them look good. Originally I was
    going to become a doctor. After finishing university with a BS in
    Psychobiology and getting a 96th percentile in the medical school
    application exam, I decided not to become a doctor. What did I <i
      >actually</i
    > want to do in life, the thought finally making its mark. I remembered
    having fun making websites for a club before. I suppose that was as good as
    anything. And thus I have spent the last year obsessing and learning every
    day in the hope of making functional, clean, accessible websites. Here is
    where I list my hobbies so I have some type of character. Hiking, Biking,
    Dancing, Reading, Native Plants, Gym.
  </p>
</section>
