<section id='contact' class='flex h-[calc(100vh-56px)] flex-col pt-8'>
  <a href='#contact' class='text-3xl dark:text-violet-300'>Contact</a>
  <div class='flex flex-1 flex-col items-center justify-center gap-8'>
    <p class='self-center text-center text-2xl'>jkrzysiak13@gmail.com</p>
    <ul class='flex w-fit flex-col gap-8 text-center text-xl'>
      <a
        href=''
        class='rounded-md px-4 py-2 first-letter:text-rose-700 dark:bg-slate-800 dark:text-violet-300 dark:first-letter:text-inherit'
        >Resume</a
      >
      <a
        href='https://github.com/CastillejaCode'
        class='rounded-md px-4 py-2 first-letter:text-rose-700 dark:bg-slate-800 dark:text-violet-300 dark:first-letter:text-inherit'
        >GitHub</a
      >
      <a
        href=''
        class='rounded-md px-4 py-2 first-letter:text-rose-700 dark:bg-slate-800 dark:text-violet-300 dark:first-letter:text-inherit'
        >LinkedIn</a
      >
    </ul>
  </div>
</section>
