<section id='contact' class='flex h-screen flex-col py-4'>
  <h1 class='text-3xl'>Contact</h1>
  <div class='inset-2 flex flex-1 flex-col items-center justify-center gap-8'>
    <p class='self-center text-center text-2xl'>jkrzysiak13@gmail.com</p>
    <ul class='flex w-fit flex-col gap-4 text-center text-xl'>
      <a href='' class='first-letter:text-rose-700'>Resume</a>
      <a
        href='https://github.com/CastillejaCode'
        class='first-letter:text-rose-700'>GitHub</a
      >
      <a href='' class='first-letter:text-rose-700'>LinkedIn</a>
    </ul>
  </div>
</section>
