<section id='contact' class='flex h-[calc(100vh-56px)] flex-col pt-4 lg:pt-8'>
  <h1 class='w-fit'>
    <a href='#contact' class='text-3xl dark:text-violet-300 lg:text-5xl'
      >Contact</a
    >
  </h1>
  <div class='flex flex-1 flex-col items-center justify-center gap-8 lg:gap-12'>
    <p class='self-center text-center text-2xl lg:text-3xl'>
      jkrzysiak13@gmail.com
    </p>
    <div class='flex w-fit flex-col gap-8 text-center text-xl lg:text-2xl'>
      <a
        href='https://drive.google.com/file/d/1-QQIJRW2xwZJFLJrsj-g0--_7QDAKHSk/view?usp=sharing'
        class='rounded-md px-4 py-2 first-letter:text-rose-700 dark:bg-slate-800 dark:text-violet-300 dark:first-letter:text-inherit'
        >Resume</a
      >

      <a
        href='https://github.com/CastillejaCode'
        class='rounded-md px-4 py-2 first-letter:text-rose-700 dark:bg-slate-800 dark:text-violet-300 dark:first-letter:text-inherit'
        >GitHub</a
      >
      <a
        href='https://www.linkedin.com/in/jkrzysiak'
        class='rounded-md px-4 py-2 first-letter:text-rose-700 dark:bg-slate-800 dark:text-violet-300 dark:first-letter:text-inherit'
        >LinkedIn</a
      >
    </div>
  </div>
</section>
