---
import { Image } from 'astro:assets';
import selfie from '../../assets/selfie.jpg';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section
  id='hero'
  class='flex flex-col items-center justify-around gap-8 lg:flex-row'
>
  <Image
    src={selfie}
    alt=`Selfie of ${title}`
    class='w-full max-w-xl rounded-full border-4 border-slate-900'
  />
  <div class='flex flex-col gap-8 text-center text-slate-900'>
    <h1 class='text-6xl font-semibold'>{title}</h1>
    <h2 class='text-4xl'>Full-Stack Web Development</h2>
  </div>
</section>
