---
import journey from '/src/assets/journey_screenshot.png';
import hydration from '/src/assets/hydration_screenshot.png';
import books from '../../assets/books_screenshot.png';

import ProjectCard from '../General/ProjectCard.astro';

export interface Project {
  title: string;
  summary: string;
  img: {
    src: ImageMetadata;
    alt: string;
  };
  links: {
    website: string;
    github: string;
  };
}

const projects: Project[] = [
  {
    title: 'Journey',
    summary:
      'A road trip planning website that maps out every destination you want to go, for every day of your trip. ',
    img: {
      src: journey,
      alt: 'Preview of website',
    },
    links: {
      website: 'https://github.com/CastillejaCode/journey',
      github: 'https://github.com/CastillejaCode/journey',
    },
  },
  {
    title: 'Hydration',
    summary:
      'A plant watering website that keeps tracks of when you watered your plants, and also displays when and what you should water next.',
    img: {
      src: hydration,
      alt: 'Preview of website',
    },
    links: {
      website: 'https://github.com/CastillejaCode/water-schedule',
      github: 'https://github.com/CastillejaCode/water-schedule',
    },
  },
  {
    title: 'Book List',
    summary:
      'A book tracking website that records books completed, along with user ratings and reviews.',
    img: {
      src: books,
      alt: 'Preview of website',
    },
    links: {
      website: 'https://github.com/CastillejaCode/book-list',
      github: 'https://github.com/CastillejaCode/book-list',
    },
  },
];
---

<section id='projects' class='flex flex-col gap-8 py-4 lg:gap-12 lg:py-8'>
  <a href='#projects' class='text-3xl dark:text-violet-300 lg:text-5xl'>
    Projects
  </a>
  <div
    class='flex flex-col gap-8 lg:grid lg:grid-cols-2 [&>*:first-child]:col-span-full [&>*:first-child]:place-self-center'
  >
    {projects.map((project) => <ProjectCard details={project} />)}
  </div>
</section>
