<button class='dark-mode-button' aria-label='Dark Mode Toggle'>
  <img src='/moon.svg' alt='Moon' class='h-6 text-violet-300' />
</button>

<script>
  const darkModeButton = document.querySelector(
    '.dark-mode-button',
  ) as HTMLButtonElement;
  darkModeButton.addEventListener('click', () => {
    if (
      localStorage.theme === 'dark' ||
      (!('theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      document.documentElement.classList.remove('dark');
      localStorage.theme = 'light';
    } else {
      document.documentElement.classList.add('dark');
      localStorage.theme = 'dark';
    }
  });
</script>
