<button class='dark-mode-button' aria-label='Dark Mode Toggle'>
  <img src='moon.svg' alt='Moon' class='aspect-square h-6' />
</button>

<script>
  const darkModeButton = document.querySelector('.dark-mode-button');
  const darkModeButtonImg = darkModeButton?.querySelector(
    'img',
  ) as HTMLImageElement;

  darkModeButton?.addEventListener('click', () => {
    if (
      localStorage.theme === 'dark' ||
      (!('theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      document.documentElement.classList.remove('dark');
      localStorage.theme = 'light';
      darkModeButtonImg.src = 'moon.svg';
    } else {
      console.log(123);
      document.documentElement.classList.add('dark');
      localStorage.theme = 'dark';
      darkModeButtonImg.src = 'sun.svg';
    }
  });
</script>
