---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/features/home/components/Hero/index.astro';
import About from '@/features/home/components/About/index.astro';
import Projects from '@/features/home/components/Projects/index.astro';
import Contact from '@/features/home/components/Contact/index.astro';

const title = 'Julian Krzysiak';
const description = 'My portfolio, blog, and reviews.';
---

<Layout title={title} description={description}>
  <link
    rel='preload'
    href='fonts/barlow-v12-latin-600.woff2'
    as='font'
    type='font/woff2'
    crossorigin
    slot='preload'
  />
  <main>
    <Hero title={title} />
    <About />
    <Projects />
    <Contact />
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 64rem;
    padding: 0 3rem;
  }

  main :global(.section-title) {
    font-size: var(--text-3xl);
    color: var(--color-neutral);

    @media (min-width: 768px) {
      font-size: var(--text-5xl);
    }
  }
</style>
