---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Content/Hero.astro';
import About from '../components/Content/About.astro';

const title = 'Julian Krzysiak';
---

<Layout title={title}>
  <main class='flex flex-col gap-20 p-12'>
    <Hero title={title} />
    <About />
  </main>
</Layout>
