---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Content/Hero.astro';
import About from '../components/Content/About.astro';
import Projects from '../components/Content/Projects.astro';
import Contact from '../components/Content/Contact.astro';

const title = 'Julian Krzysiak';
---

<Layout title={title}>
  <main class='flex flex-col px-8'>
    <Hero title={title} />
    <About />
    <Projects />
    <Contact />
  </main>
</Layout>
