---
import CodeBlock from './CodeBlock.svelte';
---

<section id='contact'>
  <a href='#contact' class='section-title'>Contact</a>
  <div>
    <CodeBlock client:load='svelte' />

    <div class='links'>
      <a href='https://github.com/CastillejaCode'>GitHub</a>
      <a href='https://www.linkedin.com/in/jkrzysiak'>LinkedIn</a>
      <a href='https://drive.google.com/file/d/1iLPJqukBctXrzHqIq1KBfMOdRx-paxt9/view?usp=sharing'
        >Resume</a
      >
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    & > div {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 2rem;
    text-align: center;
    font-size: var(--text-xl);
    text-decoration: underline var(--color-rose-900);
  }

  :global(:root.dark) .links {
    text-decoration-color: var(--color-violet-500);
  }

  @media (min-width: 1024px) {
    section {
      & > div {
        gap: 3rem;
      }

      .links {
        font-size: var(--text-2xl);
      }
    }
  }
</style>
