<section id='contact'>
  <a href='#contact' class='section-title'>Contact</a>
  <div>
    <h3>jkrzysiak13@gmail.com</h3>
    <div class='links'>
      <a href='https://github.com/CastillejaCode'>GitHub</a>
      <a href='https://www.linkedin.com/in/jkrzysiak'>LinkedIn</a>
      <a href='https://drive.google.com/file/d/1-QQIJRW2xwZJFLJrsj-g0--_7QDAKHSk/view?usp=sharing'
        >Resume</a
      >
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 56px);
    padding-top: 1rem;

    & > div {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 2rem;
    text-align: center;
    font-size: var(--text-xl);
    text-decoration: underline var(--color-rose-800);
  }

  h3 {
    align-self: center;
    text-align: center;
    font-size: var(--text-2xl);
    letter-spacing: 0.5px;
  }

  :root.dark {
    & .links {
      text-decoration-color: var(--color-violet-500);
    }
  }

  @media (min-width: 1024px) {
    section {
      padding-top: 2rem;

      & > div {
        gap: 3rem;

        & div {
          font-size: var(--text-2xl);
        }
      }
    }

    h3 {
      font-size: var(--text-3xl);
    }
  }
</style>
