<footer>
  <p>© 2024 Julian Krzysiak</p>
  <a href='https://github.com/CastillejaCode/portfolio'>Github</a>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  a {
    text-decoration: underline;
  }
</style>
