---

---

<header class='flex justify-between bg-slate-200 p-4 text-emerald-500'>
  <a href='/' class='px-8 text-3xl'>Julian Krzysiak</a>
  <nav class='flex items-center gap-4'>
    <a href=''>About Me</a>
    <a href=''>Projects</a>
    <a href=''>Contact</a>
  </nav>
</header>
