---
import DarkModeButton from './DarkModeButton.astro';
---

<header>
  <a href='#'>JK</a>
  <DarkModeButton />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: var(--text-2xl);
    color: var(--color-neutral);
  }

  @media (min-width: 1024px) {
    header {
      padding: 1.5rem;
      font-size: var(--text-3xl);
    }
  }
</style>
