---
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a>{post.data.title}</a>
        {post.data.author}
      </li>
    ))
  }
</ul>
