---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section id='hero'>
  <div>
    <h1>
      {title}
    </h1>
    <h2>Full-Stack Web Developer</h2>
  </div>
  <nav>
    <a href='#about'>Tell me <strong>about</strong> yourself?</a>
    <a href='#projects'>What <strong>projects</strong> have you made?</a>
    <a href='#contact'>How do I <strong>contact</strong> you?</a>
  </nav>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    height: calc(100vh - 64px);
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  h1 {
    color: var(--color-primary);
    letter-spacing: 0.5px;
    transition: color 0.5s;
    font-size: var(--text-3xl);
    font-weight: 600;
  }

  h2 {
    font-size: var(--text-xl);
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--text-lg);
  }

  strong {
    color: var(--color-primary);
    font-weight: 600;
  }

  a:nth-child(1) strong {
    transition: color 0.5s 0.1s;
  }

  a:nth-child(2) strong {
    transition: color 0.5s 0.2s;
  }
  a:nth-child(3) strong {
    transition: color 0.5s 0.3s;
  }

  @media (min-width: 1024px) {
    section {
      height: calc(100vh - 84px);
      gap: 4rem;
    }

    h1 {
      font-size: var(--text-5xl);
    }

    h2 {
      font-size: var(--text-3xl);
    }

    nav {
      font-size: var(--text-xl);
    }
  }
</style>
