---
import ProjectCard from './ProjectCard.astro';
import projects from '../../data/projects';
---

<section id='projects'>
  <h2 class='section-title'>
    <a href='#projects'>Projects</a>
  </h2>
  <div>
    {projects.map((project) => <ProjectCard details={project} />)}
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  div {
    display: grid;
    place-content: center;
    gap: 3rem;
  }

  @media (min-width: 768px) {
    section {
      gap: 3rem;
    }

    div {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
</style>
