---
import './Layout.astro';
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main>
    <section>
      <h1>{frontmatter.title}</h1>
      <h2>{frontmatter.author}</h2>
      <p>{frontmatter.date}</p>
    </section>
    <div class='prose'>
      <slot />
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    max-width: 64rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }

  h1 {
    font-size: var(--text-4xl);
    line-height: 2.5rem;
    padding-bottom: 1rem;
  }

  h2,
  p {
    font-size: var(--text-lg);
  }

  .prose {
  }
</style>

<style is:global>
  .prose {
    width: 100%;
    max-width: 65ch;
    align-self: center;

    & * {
      font-size: revert;
      font-weight: revert;
      margin: revert;
    }
  }
</style>
